.fas {
    font-size: 100px;
}
.color_i {
    color: #c9f700;
}
.color_i:hover, .color_i:hover~i {
    color: #258001;
    transition: 0.8s;
}
.active {
    color: #258001;
}

label:hover,  label:hover~label {
    color: #cc0000;
    transition: 0.8s;
    font-weight: 900;
}